<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gulp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header class="header">
      <nav class="header__body">
        <ul class="header__links">
          <li class="links__item">
            <div class="dropdown">
              <button class="dropbtn">
                Услуги
                <img src="../images/src/dropdown.svg" alt="dropdown" />
              </button>
              <div class="dropdown_content">
                <a href="#">Услуга 1</a>
                <a href="#">Услуга 2</a>
                <a href="#">Услуга 3</a>
              </div>
            </div>
          </li>
          <li class="links__item">
            <a class="links_link" href="#">О компании</a>
          </li>
          <li class="links__item">
            <a class="links_link" href="#">Поддержка</a>
          </li>
          <li class="links__item">
            <div class="dropdown">
              <button class="dropbtn">
                Новосибирск
                <img src="../images/src/dropdown.svg" alt="dropdown" />
              </button>
              <div class="dropdown_content">
                <a href="#">Москва</a>
                <a href="#">Казань</a>
                <a href="#">Екатеринбург</a>
              </div>
            </div>
          </li>
        </ul>
        <button class="header__btn">Пополнить баланс</button>
      </nav>
      <div class="header__buttons">
        <button class="buttons__btn" type="button">+7 383 258-33-00</button>
        <button class="buttons__btn" type="button">Написать в WhatsApp</button>
      </div>
      <div class="header__mob-icon">
        <img class="row" src="../images/src/mob-menu.png" alt="menu-icon" />
      </div>
    </header>
    <div class="header__mob-menu" style="display: none;">
      <nav class="header__mob-body">
        <img class="row" src="../images/src/close.png" alt="menu-icon" />
        <ul class="header__links header_mob-links">
          <li class="links__item">
            <div class="dropdown">
              <button class="dropbtn">
                Услуги
                <img src="../images/src/dropdown.svg" alt="dropdown" />
              </button>
              <div class="dropdown_content">
                <a href="#">Услуга 1</a>
                <a href="#">Услуга 2</a>
                <a href="#">Услуга 3</a>
              </div>
            </div>
          </li>
          <li class="links__item">
            <a class="links_link" href="#">О компании</a>
          </li>
          <li class="links__item">
            <a class="links_link" href="#">Поддержка</a>
          </li>
          <li class="links__item">
            <div class="dropdown">
              <button class="dropbtn">
                Новосибирск
                <img src="../images/src/dropdown.svg" alt="dropdown" />
              </button>
              <div class="dropdown_content">
                <a href="#">Москва</a>
                <a href="#">Казань</a>
                <a href="#">Екатеринбург</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
